@model ProjektSWR.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_nadawcy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_nadawcy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_odbiorcy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_odbiorcy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tresc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tresc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_nadania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_nadania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_odbioru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_odbioru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Archiwizacja_odbiorca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Archiwizacja_odbiorca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Archiwizacja_nadawca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Archiwizacja_nadawca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_odpowiedzi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_odpowiedzi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_wiadomosci }) |
    @Html.ActionLink("Back to List", "Index")
</p>
