@model ProjektSWR.Models.ManageViewModel

@Styles.Render("~/Content/UPPS/one.css")

<center><h1>@ViewBag.Message</h1></center>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

<div id="mainbeam">
    <h3>Dane osobowe:</h3>
</div>

<div id="space">
    <div id="pool">
        <p>
            <div id="text">Imię:</div>
            <div id="textfield">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger"})
            </div>
        </p>
    </div>
    <div id="pool">
        <p>
            <div id="text">Nazwisko:</div>
            <div id="textfield">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </p>
    </div>
    <div id="pool">
        <p>
            <div id="text">Nr telefonu:</div>
            <div id="textfield">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </p>
    </div>
    <div id="pool">
        <p>
            <div id="text">E-mail:</div>
            <div id="textfield">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </p>
    </div>
    <div id="pool">
        <p>
            <div id="text">St. naukowy:</div>
            <div id="textfield">
                @Html.EditorFor(model => model.AcademicDegree, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AcademicDegree, "", new { @class = "text-danger" })
            </div>
        </p>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CathedralName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select id="cathedrals_select" name="CathedralName">
                <option>--Wybierz katedrę--</option>
            </select>
        </div>
    </div>
    <div id="buttons">
        <p>
            <input type="submit" value="Zatwierdź" class="btn btn-default" />
            <input type="submit" value="Anuluj" class="btn btn-default" />
        </p>
    </div>
</div>
<div id="mainbeam">
    <h3>Dane osobowe (opcjonalnie):</h3>
</div>
<div id="space">
    <div id="pool">
        <p>
            <div id="text">Opis:</div>
            <div id="textfield">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </p>
    </div>
    <div id="pool">
        <p>
            <div id="text">Data urodzenia:</div>
            <div id="textfield">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </p>
    </div>
    <div id="pool">
        <p>
            <div id="text" style="padding-bottom: 5px">Zdjęcie:</div>
            <div id="photo" style="float: left;"></div>
            <div style="clear: both; padding-left: 125px; padding-top: 4px; float: left;" />
            <div id="buttons">
                <input type="submit" value="Dodaj" />
                <input type="submit" value="Usuń" />
            </div>
        </p>
    </div>
    <div id="buttons">
        <p>
            <input type="submit" value="Zatwierdź" />
            <input type="submit" value="Anuluj" />
        </p>
    </div>
</div>
<div id="mainbeam">
    <h3>Zmiana hasła:</h3>
</div>
<div id="space">
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @Html.ActionLink("Zmień hasło", "ChangePassword")
            ]
        </dd>
    </dl>
</div>
}

@section Scripts{
<script src="~/Scripts/Cathedral/cathedral.js"></script>
}