<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SWR</title>
    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Search/Search.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://w.prz.edu.pl/">
                    <img id="PRZ_LOGO" img src="http://w.prz.edu.pl/thumb/GcdkwuAx9CA3YQcDUOEyt6IH8JIx4JJzo2LBMgezZ9Lgcg,1/pl/core_settings/BAE9Ne1RBfAdl,header_logo_transparent.png" alt="PRZ LOGO" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                 <ul class="nav navbar-nav align-bottom">
                    <li>@Html.ActionLink("Wydarzenia", "Index", "Home", null, new { @class = "white_link" })</li>
                     @if (Request.IsAuthenticated) {
                      <li>@Html.ActionLink("Wiadomości", "index", "Messages", null, new { @class="white_link" })</li>
                      <li>@Html.ActionLink("Kalendarz", "Index", "Events", null, new { @class = "white_link" })</li>
                      <li>@Html.ActionLink("Panel", "Index", "Panel", null, new { @class = "white_link" })</li>
                      <li>@Html.ActionLink("Forum", "Index", "Forum/Index", null, new { @class = "white_link" })</li>
                      <li id="notify"><button type="button" class="btn btn-primary show-notifications">
                        Powiadomienia
                        @Html.Action("UnreadBadge", "Notifications")
                        </button></li>
                        <li>
                            <div id ="search">
                                <button type="button" id="search-data" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-search" aria-hidden="false"></span>
                                </button>
                                <div id="datalist" hidden></div>
                            </div>
                     </li>

                     }
                </ul>
            </div>
            </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - Politechnika Rzeszowska &lt;3</p>
        <hr/>
        @Html.ActionLink("Kontakt", "Contact", "Home", null, new { @class = "white_link" })
    </footer>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Notifications.js"></script>
</body>
</html>
