@model ProjektSWR.Models.Thread
@{
    ViewBag.Title = "Thread";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left: 100px; margin-right:50px; background-color:#003D82;color:white; border-radius:5px; height:38px;text-indent:10px">
    @Model.Name
</h2>


<table class="table" style="margin-left:120px;width:1150px;border:solid;border-color:#9F9F9F;border-width:2px">


    <tr>
        <td width="50">
            <b>
                @Model.Email
                 <!--@Html.ActionLink(Model.Email, "../Panel/UserProfile/"+ Model.UserID)-->

            </b>
        </td>
        <td>
            <b>
                @Model.MainMessage
            </b>
        </td>
    </tr>

    @foreach (var th in Model.Replies)
    {
        <tr>
            <td>
                @th.Email
              <!-- @Html.ActionLink(th.Email, "../Panel/UserProfile/", Model.UserID)-->
            </td>
            <td>
                @th.Answer
            </td>
            <td>
                @th.ID
                @Html.ActionLink("Usuń", "Delete", new { id = th.ID })
            </td>
        </tr>
    }


    </table>
<<<<<<< HEAD

=======
>>>>>>> refs/heads/pr/53

<div style="margin-left:100px">
    @Html.ActionLink("Dodaj nową odpowiedź", "CreateReply", new { th = Model.ID }, Model.ID)

</div>

<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
    -->
